<div class="nav">
	<div class="logo">
		<span class="F">F</span>oody<span class="F">...</span>
	</div>
	<div class="NavContainer">
		<div class="Navbtnindi">
			<a class="NavButtons" href="#H" (click)="Indicator = 1">
				i'm Hungry
			</a>
			<div *ngIf="Indicator == 1" [@inOutAnimation] class="Indi"></div>
		</div>
		<div class="Navbtnindi">
			<a class="NavButtons" href="#C" (click)="Indicator = 2">
				Categories
			</a>
			<div *ngIf="Indicator == 2" [@inOutAnimation] class="Indi"></div>
		</div>
		<div class="Navbtnindi">
			<a class="NavButtons" href="#R" (click)="Indicator = 3">
				Resturants
			</a>
			<div *ngIf="Indicator == 3" [@inOutAnimation] class="Indi"></div>
		</div>
		<div class="Navbtnindi">
			<a class="NavButtons" href="#A" (click)="Indicator = 4">
				About us
			</a>	
			<div *ngIf="Indicator == 4" [@inOutAnimation] class="Indi"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="con1">
		<h2>Find the best foods</h2>
		<mat-form-field style="color: white;" appearance="fill">
			<mat-label style="color: white;">Favorite food</mat-label>
			<mat-select style="color: white;">
				<mat-option style="color: white; background-color: #444;" *ngFor="let food of foods" [value]="food.value">
					{{food.viewValue}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="con2">
		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-utensils"></i></div>
			<p style="text-align: center;">all</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-pizza-slice"></i></div>
			<p style="text-align: center;">Pizza</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-mug-hot"></i></div>
			<p style="text-align: center;">Drinks</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-birthday-cake"></i></div>
			<p style="text-align: center;">Cake</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-utensils"></i></div>
			<p style="text-align: center;">all</p>			
		</div>
		
		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-utensils"></i></div>
			<p style="text-align: center;">all</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-utensils"></i></div>
			<p style="text-align: center;">all</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-utensils"></i></div>
			<p style="text-align: center;">all</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-utensils"></i></div>
			<p style="text-align: center;">all</p>			
		</div>

		<div class="btnCon">
			<div class="btnIcon"><i class="fas fa-utensils"></i></div>
			<p style="text-align: center;">all</p>			
		</div>
	</div>
</div>

