.nav {
  position: sticky;
  top: 0;
  width: auto;
  background-color: #444;
  color: #fff;
  display: flex;
  padding: 0 0 0 16px;
  align-items: center;
	justify-content: space-between;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.container {
	padding: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.HomeText {
	width: 50%;
	height: 50%;
}

.logo {
	color: white;
	font-size: 24px;
}

.F {
	color: #e11d47;
	font-size: 32px;
}

.NavButtons {
	font-size: 18px;
	margin: 20px;
	color: white;
	text-decoration: none;
	transition: 0.2s;
}

.NavButtons:hover{
	color: #e11d47;
}

.Indi {
	position: absolute;
	background-color: #e11d47;
	width: 50px;
	height: 4px;
	border-radius: 2px;
	margin: 50px 0 0 0;
}

.NavContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Navbtnindi {
	display: flex;
	justify-content: center;
}